In [59]:
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import random
import seaborn as sns

In [60]:
shark = pd.read_csv('C:\\Users\\Vivi\\Documents\\Data\\MyLab\\data-ber-08-20\\Projects\\module-1_projects\\02_pandas-project\\GSAF5.csv', engine = "python" )

In [61]:
shark.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN

In [62]:
len(shark.columns)

24

In [63]:
shark.size

143808

In [64]:
len(shark)

5992

In [65]:
shark.shape

(5992, 24)

In [67]:
dtype(shark)

NameError: name 'dtype' is not defined

In [68]:
shark.isna()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,True
1,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,True
2,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,True
3,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,True
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5987,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,True
5988,False,False,False,False,False,False,True,False,False,False,...,True,False,False,False,False,False,False,False,True,True
5989,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,True
5990,False,False,False,False,False,True,False,True,False,False,...,True,False,False,False,False,False,False,False,True,True
5991,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,True

In [69]:
shark.isna().sum()

Case Number                  0
Date                         0
Year                         0
Type                         0
Country                     43
Area                       402
Location                   496
Activity                   527
Name                       200
Sex                        567
Age                       2681
Injury                      27
Fatal (Y/N)                 19
Time                      3213
Species                   2934
Investigator or Source      15
pdf                          0
href formula                 1
href                         3
Case Number.1                0
Case Number.2                0
original order               0
Unnamed: 22               5991
Unnamed: 23               5990
dtype: int64

In [70]:
missing_values =shark.isna().sum()

In [71]:
#After checking the dataframe lenght, I know that the dataframe has 5992 rows.
#As columns Unnamed: 22 & Unnamed: 23 have 5991 and 5990 missing values each, I will remove those 2 columns.
#Years from column 'year' are already mentioned in the column 'date', therefore I will drop column 'Year'


newshark = shark.drop(columns=["Unnamed: 22", "Unnamed: 23", "Year"])

In [72]:
#tenho q fazer ser a nova tabela
newshark.head()

,Case Number,Date,Type,Country,Area,Location,Activity,Name,Sex,Age,...,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
0,2016.09.18.c,18-Sep-16,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16,...,N,13h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993
1,2016.09.18.b,18-Sep-16,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36,...,N,11h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992
2,2016.09.18.a,18-Sep-16,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,43,...,N,10h43,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991
3,2016.09.17,17-Sep-16,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,NaN,...,N,NaN,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990
4,2016.09.15,16-Sep-16,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,NaN,...,N,NaN,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989

In [73]:
newshark.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5992 entries, 0 to 5991
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             5992 non-null   object
 1   Date                    5992 non-null   object
 2   Type                    5992 non-null   object
 3   Country                 5949 non-null   object
 4   Area                    5590 non-null   object
 5   Location                5496 non-null   object
 6   Activity                5465 non-null   object
 7   Name                    5792 non-null   object
 8   Sex                     5425 non-null   object
 9   Age                     3311 non-null   object
 10  Injury                  5965 non-null   object
 11  Fatal (Y/N)             5973 non-null   object
 12  Time                    2779 non-null   object
 13  Species                 3058 non-null   object
 14  Investigator or Source  5977 non-null   object
 15  pdf                     5992 non-null   object
 16  href formula            5991 non-null   object
 17  href                    5989 non-null   object
 18  Case Number.1           5992 non-null   object
 19  Case Number.2           5992 non-null   object
 20  original order          5992 non-null   int64
dtypes: int64(1), object(20)
memory usage: 983.2+ KB

In [74]:
missing_values_ratios = missing_values[missing_values.gt(0)]/len(shark)
missing_values_ratios

#even though missing info in the column time is high, I believe this info is quite important so I won't drop it.

Country                   0.007176
Area                      0.067089
Location                  0.082777
Activity                  0.087951
Name                      0.033378
Sex                       0.094626
Age                       0.447430
Injury                    0.004506
Fatal (Y/N)               0.003171
Time                      0.536215
Species                   0.489653
Investigator or Source    0.002503
href formula              0.000167
href                      0.000501
Unnamed: 22               0.999833
Unnamed: 23               0.999666
dtype: float64

In [76]:
#for 'Reported 06-Jul-1912' for example I wanted to delete the word reported
newshark['Date'] = newshark['Date'].str.replace('reported ', '')
newshark['Date']

0         18-Sep-16
1         18-Sep-16
2         18-Sep-16
3         17-Sep-16
4         16-Sep-16
           ...
5987    Before 1903
5988    Before 1903
5989      1900-1905
5990      1883-1889
5991      1845-1853
Name: Date, Length: 5992, dtype: object

In [77]:
#for "No date, Before 1963" for example I don't see any real solution, but I will delete  'no date' as it is unusefull 
newshark['Date'] = newshark['Date'].str.replace('No date, ', '')
newshark['Date']

0         18-Sep-16
1         18-Sep-16
2         18-Sep-16
3         17-Sep-16
4         16-Sep-16
           ...
5987    Before 1903
5988    Before 1903
5989      1900-1905
5990      1883-1889
5991      1845-1853
Name: Date, Length: 5992, dtype: object

In [33]:
# Calculate the difference between columns pdf and formula

#dataFrameObject = pd.newshark(dataValues, columns = ("pdf", "formula")
#print("Dataset:")
#print(dataFrameObject);

SyntaxError: unexpected EOF while parsing (<ipython-input-33-ae9568c99239>, line 3)

In [ ]:
#delete the sex value from name column
def filter_b(value):
     if value < 2:
        return np.nan
     else:
        return value
    
data['cleaned_b'] = data['b'].apply(filter_b)

In [ ]:
#comparar se case name, case name 1 and case name 2 are the same

comparison_column = np.where(df["col1"] == df["col2"], True, False)

In [83]:
#capitalize columns: pdf, href formula, href, original order

newshark2 = newskark.rename(columns={'pdf': 'PDF', 'href formula': 'HREF Formula', 'href': 'HREF','original order': 'Original Order'}, inplace=False)
newshark2.columns

Index(['Case Number', 'Date', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'PDF', 'HREF Formula', 'HREF',
       'Case Number.1', 'Case Number.2', 'Original Order'],
      dtype='object')

In [51]:
#capitalize only the first letter of Country column values

In [52]:
#Case Number.1	Case Number.2	 when case n2 is same as case n1 I will insert 0 as it's redudant value

In [97]:
#comparar dataset de coluna especifica name where there is male/female match the column sex so we can chane name male/female to 0
#comparison_column = np.where(df["col1"] == df["col2"], True, False)

#talvez so precise desse:
#newshark.drop_duplicates()

newshark2 = newshark2.drop_duplicates(subset=["sex","name"] , keep = 'first')

#newshark2 = newshark2.drop_duplicates()
#print(newshark2)

KeyError: Index(['name', 'sex'], dtype='object')

In [ ]:
for male in name:
    if name == male 
    0)

In [34]:
newshark.describe

<bound method NDFrame.describe of        Case Number         Date        Type             Country  \
0     2016.09.18.c    18-Sep-16  Unprovoked                 USA
1     2016.09.18.b    18-Sep-16  Unprovoked                 USA
2     2016.09.18.a    18-Sep-16  Unprovoked                 USA
3       2016.09.17    17-Sep-16  Unprovoked           AUSTRALIA
4       2016.09.15    16-Sep-16  Unprovoked           AUSTRALIA
...            ...          ...         ...                 ...
5987       ND.0005  Before 1903  Unprovoked           AUSTRALIA
5988       ND.0004  Before 1903  Unprovoked           AUSTRALIA
5989       ND.0003    1900-1905  Unprovoked                 USA
5990       ND.0002    1883-1889  Unprovoked              PANAMA
5991       ND.0001    1845-1853  Unprovoked  CEYLON (SRI LANKA)

                   Area                             Location      Activity  \
0               Florida     New Smyrna Beach, Volusia County       Surfing
1               Florida     New Smyrna Beach, Volusia County       Surfing
2               Florida     New Smyrna Beach, Volusia County       Surfing
3              Victoria                     Thirteenth Beach       Surfing
4              Victoria                          Bells Beach       Surfing
...                 ...                                  ...           ...
5987  Western Australia                          Roebuck Bay        Diving
5988  Western Australia                                  NaN  Pearl diving
5989     North Carolina                       Ocracoke Inlet      Swimming
5990                NaN                 Panama Bay 8ÂºN, 79ÂºW           NaN
5991   Eastern Province  Below the English fort, Trincomalee      Swimming

                       Name Sex   Age  ... Fatal (Y/N)   Time   Species   \
0                      male    M   16  ...           N  13h00        NaN
1            Chucky Luciano    M   36  ...           N  11h00        NaN
2                      male    M   43  ...           N  10h43        NaN
3           Rory Angiolella    M  NaN  ...           N    NaN        NaN
4                      male    M  NaN  ...           N    NaN  2 m shark
...                     ...  ...  ...  ...         ...    ...        ...
5987                   male    M  NaN  ...           Y    NaN        NaN
5988                  Ahmun    M  NaN  ...           Y    NaN        NaN
5989  Coast Guard personnel    M  NaN  ...           Y    NaN        NaN
5990        Jules Patterson    M  NaN  ...           Y    NaN        NaN
5991                   male    M   15  ...           Y    NaN        NaN

                     Investigator or Source                             pdf  \
0               Orlando Sentinel, 9/19/2016            2016.09.18.c-NSB.pdf
1               Orlando Sentinel, 9/19/2016        2016.09.18.b-Luciano.pdf
2               Orlando Sentinel, 9/19/2016            2016.09.18.a-NSB.pdf
3                        The Age, 9/18/2016       2016.09.17-Angiolella.pdf
4                        The Age, 9/16/2016       2016.09.16-BellsBeach.pdf
...                                     ...                             ...
5987       H. Taunton; N. Bartlett,  p. 234          ND-0005-RoebuckBay.pdf
5988  H. Taunton; N. Bartlett,  pp. 233-234               ND-0004-Ahmun.pdf
5989   F. Schwartz, p.23; C. Creswell, GSAF  ND-0003-Ocracoke_1900-1905.pdf
5990                    The Sun, 10/20/1938      ND-0002-JulesPatterson.pdf
5991                             S.W. Baker              ND-0001-Ceylon.pdf

                                           href formula  \
0     http://sharkattackfile.net/spreadsheets/pdf_di...
1     http://sharkattackfile.net/spreadsheets/pdf_di...
2     http://sharkattackfile.net/spreadsheets/pdf_di...
3     http://sharkattackfile.net/spreadsheets/pdf_di...
4     http://sharkattackfile.net/spreadsheets/pdf_di...
...                                                 ...
5987  http://sharkattackfile.net/spreadsheets/pdf_di...
5988  http://sharkattackfile.net/spreadsheets/pdf_di...
5989  http://sharkattackfile.net/spreadsheets/pdf_di...
5990  http://sharkattackfile.net/spreadsheets/pdf_di...
5991  http://sharkattackfile.net/spreadsheets/pdf_di...

                                                   href Case Number.1  \
0     http://sharkattackfile.net/spreadsheets/pdf_di...  2016.09.18.c
1     http://sharkattackfile.net/spreadsheets/pdf_di...  2016.09.18.b
2     http://sharkattackfile.net/spreadsheets/pdf_di...  2016.09.18.a
3     http://sharkattackfile.net/spreadsheets/pdf_di...    2016.09.17
4     http://sharkattackfile.net/spreadsheets/pdf_di...    2016.09.16
...                                                 ...           ...
5987  http://sharkattackfile.net/spreadsheets/pdf_di...       ND.0005
5988  http://sharkattackfile.net/spreadsheets/pdf_di...       ND.0004
5989  http://sharkattackfile.net/spreadsheets/pdf_di...       ND.0003
5990  http://sharkattackfile.net/spreadsheets/pdf_di...       ND.0002
5991  http://sharkattackfile.net/spreadsheets/pdf_di...       ND.0001

     Case Number.2 original order
0     2016.09.18.c           5993
1     2016.09.18.b           5992
2     2016.09.18.a           5991
3       2016.09.17           5990
4       2016.09.15           5989
...            ...            ...
5987       ND.0005              6
5988       ND.0004              5
5989       ND.0003              4
5990       ND.0002              3
5991       ND.0001              2

[5992 rows x 21 columns]>