In [1]:
import pandas as pd
import numpy as np

In [3]:
#Use their website to check stuff https://pandas.pydata.org/pandas-docs/stable/index.html
#Pandas - Intro
#1. Subsetting
#columns
#rows

#2. Sorting

In [5]:
sample = np.random.random_sample((5,))
sample

array([0.01942679, 0.31998867, 0.97524914, 0.56731784, 0.99567283])

In [6]:
type(sample)

numpy.ndarray

In [8]:
sample2 = np.random.random_sample((5, 10))
sample2

array([[0.17214143, 0.1221717 , 0.41543356, 0.91211752, 0.77829083,
        0.77435134, 0.79698849, 0.75452682, 0.21566364, 0.10169289],
       [0.4119932 , 0.49058496, 0.52694847, 0.27529026, 0.01488367,
        0.72761618, 0.41301742, 0.13695974, 0.51762988, 0.06527466],
       [0.14819025, 0.8283742 , 0.9060705 , 0.10478555, 0.36997248,
        0.96409519, 0.08557774, 0.563429  , 0.72843566, 0.34019101],
       [0.58556411, 0.50071817, 0.8486298 , 0.95623537, 0.91528904,
        0.16029711, 0.19428461, 0.75365147, 0.57053787, 0.84208822],
       [0.47660033, 0.34705079, 0.14134068, 0.14476741, 0.25843446,
        0.86566217, 0.35770653, 0.99309334, 0.97610965, 0.13477777]])

In [9]:
pd.DataFrame(sample2)

,0,1,2,3,4,5,6,7,8,9
0,0.172141,0.122172,0.415434,0.912118,0.778291,0.774351,0.796988,0.754527,0.215664,0.101693
1,0.411993,0.490585,0.526948,0.275290,0.014884,0.727616,0.413017,0.136960,0.517630,0.065275
2,0.148190,0.828374,0.906071,0.104786,0.369972,0.964095,0.085578,0.563429,0.728436,0.340191
3,0.585564,0.500718,0.848630,0.956235,0.915289,0.160297,0.194285,0.753651,0.570538,0.842088
4,0.476600,0.347051,0.141341,0.144767,0.258434,0.865662,0.357707,0.993093,0.976110,0.134778

In [13]:
colsname = ["kiwi_density", "kiwi_mass", "orange_density", "orange_mass"]
df = pd.DataFrame(np.random.random_sample((10,4)), columns=colsname)
df

   kiwi_density  kiwi_mass  orange_density  orange_mass
0      0.829385   0.736987        0.014449     0.141597
1      0.081864   0.479903        0.260654     0.156701
2      0.734420   0.604981        0.754340     0.871478
3      0.233588   0.485553        0.456593     0.920739
4      0.987417   0.992557        0.995852     0.177461
5      0.520590   0.446870        0.369835     0.880221
6      0.675932   0.899981        0.100853     0.343864
7      0.487058   0.750026        0.378016     0.438700
8      0.079715   0.898504        0.675463     0.756127
9      0.119120   0.483019        0.348492     0.429712

In [14]:
#1. Subsetting
#1.1 Columns

df["kiwi_density"]

0    0.829385
1    0.081864
2    0.734420
3    0.233588
4    0.987417
5    0.520590
6    0.675932
7    0.487058
8    0.079715
9    0.119120
Name: kiwi_density, dtype: float64

In [16]:
type(df["kiwi_density"])

pandas.core.series.Series

In [17]:
#if you want a dataframe
df[["kiwi_density"]]

   kiwi_density
0      0.829385
1      0.081864
2      0.734420
3      0.233588
4      0.987417
5      0.520590
6      0.675932
7      0.487058
8      0.079715
9      0.119120

In [18]:
#multiple columns
df[["kiwi_density", "orange_density"]]

   kiwi_density  orange_density
0      0.829385        0.014449
1      0.081864        0.260654
2      0.734420        0.754340
3      0.233588        0.456593
4      0.987417        0.995852
5      0.520590        0.369835
6      0.675932        0.100853
7      0.487058        0.378016
8      0.079715        0.675463
9      0.119120        0.348492

In [19]:
col = colsnamedf[

SyntaxError: unexpected EOF while parsing (<ipython-input-19-75b4f95288aa>, line 1)

In [20]:
#Rows

df.head()

   kiwi_density  kiwi_mass  orange_density  orange_mass
0      0.829385   0.736987        0.014449     0.141597
1      0.081864   0.479903        0.260654     0.156701
2      0.734420   0.604981        0.754340     0.871478
3      0.233588   0.485553        0.456593     0.920739
4      0.987417   0.992557        0.995852     0.177461

In [21]:
df.tail()

   kiwi_density  kiwi_mass  orange_density  orange_mass
5      0.520590   0.446870        0.369835     0.880221
6      0.675932   0.899981        0.100853     0.343864
7      0.487058   0.750026        0.378016     0.438700
8      0.079715   0.898504        0.675463     0.756127
9      0.119120   0.483019        0.348492     0.429712

In [22]:
#have only rows where orange_density is < 0.5
df["orange_density"] < .5

0     True
1     True
2    False
3     True
4    False
5     True
6     True
7     True
8    False
9     True
Name: orange_density, dtype: bool

In [23]:
#lt = less than
#gt = grater than
df["orange_density"].lt(.5)

0     True
1     True
2    False
3     True
4    False
5     True
6     True
7     True
8    False
9     True
Name: orange_density, dtype: bool

In [25]:
to_keep = [True, True, True, False, False, False, False, False, False, False,]
df[to_keep]

   kiwi_density  kiwi_mass  orange_density  orange_mass
0      0.829385   0.736987        0.014449     0.141597
1      0.081864   0.479903        0.260654     0.156701
2      0.734420   0.604981        0.754340     0.871478

In [26]:
df[df["orange_density"] < .5]

   kiwi_density  kiwi_mass  orange_density  orange_mass
0      0.829385   0.736987        0.014449     0.141597
1      0.081864   0.479903        0.260654     0.156701
3      0.233588   0.485553        0.456593     0.920739
5      0.520590   0.446870        0.369835     0.880221
6      0.675932   0.899981        0.100853     0.343864
7      0.487058   0.750026        0.378016     0.438700
9      0.119120   0.483019        0.348492     0.429712

In [28]:
df[df["orange_density"].lt(.5) & df["kiwi_density"].gt(.5)]

   kiwi_density  kiwi_mass  orange_density  orange_mass
0      0.829385   0.736987        0.014449     0.141597
5      0.520590   0.446870        0.369835     0.880221
6      0.675932   0.899981        0.100853     0.343864

In [29]:
# \ de pe means OR
df[df["orange_density"].lt(.5) | df["kiwi_density"].gt(.5)]

   kiwi_density  kiwi_mass  orange_density  orange_mass
0      0.829385   0.736987        0.014449     0.141597
1      0.081864   0.479903        0.260654     0.156701
2      0.734420   0.604981        0.754340     0.871478
3      0.233588   0.485553        0.456593     0.920739
4      0.987417   0.992557        0.995852     0.177461
5      0.520590   0.446870        0.369835     0.880221
6      0.675932   0.899981        0.100853     0.343864
7      0.487058   0.750026        0.378016     0.438700
9      0.119120   0.483019        0.348492     0.429712

In [30]:
#when does panda know when I want to subset columns or when I want to subset rows?

# --> .loc[] or .iloc[]

#example df.loc[rows,colums]

In [31]:
df.loc[df["orange_density"].lt(.5), ["orange_mass"]]

   orange_mass
0     0.141597
1     0.156701
3     0.920739
5     0.880221
6     0.343864
7     0.438700
9     0.429712

In [36]:
#only want to filter rows
#loc is good to filter rows
df.loc[df["kiwi_mass"].gt(.3)]

   kiwi_density  kiwi_mass  orange_density  orange_mass
0      0.829385   0.736987        0.014449     0.141597
1      0.081864   0.479903        0.260654     0.156701
2      0.734420   0.604981        0.754340     0.871478
3      0.233588   0.485553        0.456593     0.920739
4      0.987417   0.992557        0.995852     0.177461
5      0.520590   0.446870        0.369835     0.880221
6      0.675932   0.899981        0.100853     0.343864
7      0.487058   0.750026        0.378016     0.438700
8      0.079715   0.898504        0.675463     0.756127
9      0.119120   0.483019        0.348492     0.429712

In [37]:
#loc can be used to filter columns
df.loc[:,["kiwi_density"]]

   kiwi_density
0      0.829385
1      0.081864
2      0.734420
3      0.233588
4      0.987417
5      0.520590
6      0.675932
7      0.487058
8      0.079715
9      0.119120

In [38]:
# but lock is not needed to filter columns
df[["kiwi_density"]]

   kiwi_density
0      0.829385
1      0.081864
2      0.734420
3      0.233588
4      0.987417
5      0.520590
6      0.675932
7      0.487058
8      0.079715
9      0.119120

In [39]:
#: is to see the beginning
df.loc[:,["kiwi_density", "orange_density"]]

   kiwi_density  orange_density
0      0.829385        0.014449
1      0.081864        0.260654
2      0.734420        0.754340
3      0.233588        0.456593
4      0.987417        0.995852
5      0.520590        0.369835
6      0.675932        0.100853
7      0.487058        0.378016
8      0.079715        0.675463
9      0.119120        0.348492

In [41]:
df[["kiwi_density", "orange_density"]]

   kiwi_density  orange_density
0      0.829385        0.014449
1      0.081864        0.260654
2      0.734420        0.754340
3      0.233588        0.456593
4      0.987417        0.995852
5      0.520590        0.369835
6      0.675932        0.100853
7      0.487058        0.378016
8      0.079715        0.675463
9      0.119120        0.348492

In [44]:
#.iloc[] allows you to use positional indexes instead of labels

df.index = range(10, 20, 1)

In [45]:
df

    kiwi_density  kiwi_mass  orange_density  orange_mass
10      0.829385   0.736987        0.014449     0.141597
11      0.081864   0.479903        0.260654     0.156701
12      0.734420   0.604981        0.754340     0.871478
13      0.233588   0.485553        0.456593     0.920739
14      0.987417   0.992557        0.995852     0.177461
15      0.520590   0.446870        0.369835     0.880221
16      0.675932   0.899981        0.100853     0.343864
17      0.487058   0.750026        0.378016     0.438700
18      0.079715   0.898504        0.675463     0.756127
19      0.119120   0.483019        0.348492     0.429712

In [46]:
#it doesnt find because its looking for labels 1-4, and you dont have labels anymore
df.loc[1:4]

Empty DataFrame
Columns: [kiwi_density, kiwi_mass, orange_density, orange_mass]
Index: []

In [49]:
#Purely integer-location based indexing for selection by position.
#.iloc[] is primarily integer position based (from 0 to length-1 of the axis), but may also be used with a boolean array.
df.iloc[1:4]

    kiwi_density  kiwi_mass  orange_density  orange_mass
11      0.081864   0.479903        0.260654     0.156701
12      0.734420   0.604981        0.754340     0.871478
13      0.233588   0.485553        0.456593     0.920739

In [50]:
#first arguments if for rows and second for columns
df.iloc[1:7,2:4]

    orange_density  orange_mass
11        0.260654     0.156701
12        0.754340     0.871478
13        0.456593     0.920739
14        0.995852     0.177461
15        0.369835     0.880221
16        0.100853     0.343864

In [51]:
df

    kiwi_density  kiwi_mass  orange_density  orange_mass
10      0.829385   0.736987        0.014449     0.141597
11      0.081864   0.479903        0.260654     0.156701
12      0.734420   0.604981        0.754340     0.871478
13      0.233588   0.485553        0.456593     0.920739
14      0.987417   0.992557        0.995852     0.177461
15      0.520590   0.446870        0.369835     0.880221
16      0.675932   0.899981        0.100853     0.343864
17      0.487058   0.750026        0.378016     0.438700
18      0.079715   0.898504        0.675463     0.756127
19      0.119120   0.483019        0.348492     0.429712

In [52]:
#to inspect what you have in the data set
df.columns

Index(['kiwi_density', 'kiwi_mass', 'orange_density', 'orange_mass'], dtype='object')

In [53]:
#looking at columns, and selecting based on certain condition
for col in df.columns:
       if col.startswith("kiwi"):
            print(col)

kiwi_density
kiwi_mass

In [56]:
#2.Sorting

df.reset_index()
#reset index shows a column called index that show our previous columns
#Reset the index of the DataFrame, and use the default one instead. If the DataFrame has a MultiIndex, this method can remove one or more levels.
#Do not try to insert index into dataframe columns. This resets the index to the default integer index.

   index  kiwi_density  kiwi_mass  orange_density  orange_mass
0     10      0.829385   0.736987        0.014449     0.141597
1     11      0.081864   0.479903        0.260654     0.156701
2     12      0.734420   0.604981        0.754340     0.871478
3     13      0.233588   0.485553        0.456593     0.920739
4     14      0.987417   0.992557        0.995852     0.177461
5     15      0.520590   0.446870        0.369835     0.880221
6     16      0.675932   0.899981        0.100853     0.343864
7     17      0.487058   0.750026        0.378016     0.438700
8     18      0.079715   0.898504        0.675463     0.756127
9     19      0.119120   0.483019        0.348492     0.429712

In [57]:
#to exclude index
df.reset_index(drop=True)

   kiwi_density  kiwi_mass  orange_density  orange_mass
0      0.829385   0.736987        0.014449     0.141597
1      0.081864   0.479903        0.260654     0.156701
2      0.734420   0.604981        0.754340     0.871478
3      0.233588   0.485553        0.456593     0.920739
4      0.987417   0.992557        0.995852     0.177461
5      0.520590   0.446870        0.369835     0.880221
6      0.675932   0.899981        0.100853     0.343864
7      0.487058   0.750026        0.378016     0.438700
8      0.079715   0.898504        0.675463     0.756127
9      0.119120   0.483019        0.348492     0.429712

In [59]:
df

    kiwi_density  kiwi_mass  orange_density  orange_mass
10      0.829385   0.736987        0.014449     0.141597
11      0.081864   0.479903        0.260654     0.156701
12      0.734420   0.604981        0.754340     0.871478
13      0.233588   0.485553        0.456593     0.920739
14      0.987417   0.992557        0.995852     0.177461
15      0.520590   0.446870        0.369835     0.880221
16      0.675932   0.899981        0.100853     0.343864
17      0.487058   0.750026        0.378016     0.438700
18      0.079715   0.898504        0.675463     0.756127
19      0.119120   0.483019        0.348492     0.429712

In [60]:
#alternative to re-assigning you can use the inplace arg
#df.reset_index(drop=True, inplace=True)

In [62]:
df.sort_values("kiwi_mass", ascending=False)

    kiwi_density  kiwi_mass  orange_density  orange_mass
14      0.987417   0.992557        0.995852     0.177461
16      0.675932   0.899981        0.100853     0.343864
18      0.079715   0.898504        0.675463     0.756127
17      0.487058   0.750026        0.378016     0.438700
10      0.829385   0.736987        0.014449     0.141597
12      0.734420   0.604981        0.754340     0.871478
13      0.233588   0.485553        0.456593     0.920739
19      0.119120   0.483019        0.348492     0.429712
11      0.081864   0.479903        0.260654     0.156701
15      0.520590   0.446870        0.369835     0.880221

In [63]:
#the index is messed up
df

    kiwi_density  kiwi_mass  orange_density  orange_mass
10      0.829385   0.736987        0.014449     0.141597
11      0.081864   0.479903        0.260654     0.156701
12      0.734420   0.604981        0.754340     0.871478
13      0.233588   0.485553        0.456593     0.920739
14      0.987417   0.992557        0.995852     0.177461
15      0.520590   0.446870        0.369835     0.880221
16      0.675932   0.899981        0.100853     0.343864
17      0.487058   0.750026        0.378016     0.438700
18      0.079715   0.898504        0.675463     0.756127
19      0.119120   0.483019        0.348492     0.429712

In [64]:
#to fix index 
df.reset_index(drop=True)

   kiwi_density  kiwi_mass  orange_density  orange_mass
0      0.829385   0.736987        0.014449     0.141597
1      0.081864   0.479903        0.260654     0.156701
2      0.734420   0.604981        0.754340     0.871478
3      0.233588   0.485553        0.456593     0.920739
4      0.987417   0.992557        0.995852     0.177461
5      0.520590   0.446870        0.369835     0.880221
6      0.675932   0.899981        0.100853     0.343864
7      0.487058   0.750026        0.378016     0.438700
8      0.079715   0.898504        0.675463     0.756127
9      0.119120   0.483019        0.348492     0.429712

#equivelen to previcous cell
df = (df
       .sort_vales("orange_mass")
       .reset_index(drop=True))